language: android
jdk:
  - oraclejdk8

android:
  components:

  - tools
  - build-tools-25.0.2
  - platform-tools
  - extra-android-m2repository
  - extra-google-m2repository
  - extra-google-android-support
  - android-19

before_install:
  - openssl aes-256-cbc -K $encrypted_ab387d2e1d9a_key -iv $encrypted_ab387d2e1d9a_iv -in testfairy.keystore.enc -out testfairy.keystore -d

script:
  - bash gradlew assembleRelease --info

deploy:
  provider: releases
  api_key:
    secure: jCCkmcWFuBV8+6BxO2Mhci03OpNB3h4EC16o9PoWCkL/cXnBOZPFQFuxC5ZFGmBlGhgMs3obh8YAPcwGSx90Ri6FN3dGEZgMPfAV07EFFeqJnY/2Rd5PjvO6QQxlvR5SlJ7igIRvE+6GCFUAIznd8rA8x0CiSQMhaI+zAt7w+t4=
  file: TestFairyApp/build/outputs/apk/TestFairyApp-release.apk
  skip_cleanup: true
  on:
    tags: true
    
